<div class="row">
	<div class="col-12">
		<h4>Search Blog by keyword</h4>
		<form>
			<div class="mb-3">
				<label for="blogSearch">Add Search Keyword</label>
				<input id="blogSearch" data-sg-blog type="text" placeholder="Search the Blog" name="query" value="{{context.params.keyword}}" class="form-control border-0">
			</div>
			<div class="mb-3">
				<button type="button" id="searchSubmit" class="btn btn-primary sg-btn sg-btn-primary btn-sm sg-btn-sm px-4 py-1">Submit</button>
			</div>
			{% comment %}This example function will search for blog posts by keyword. You'll need to use the "use_search" parameter in your Liquid tag.{% endcomment %}
			<script type="text/javascript">
				document.querySelector('#searchSubmit').addEventListener("click", function(event){
					event.preventDefault();
					window.location.assign(window.location.pathname+"?keyword="+document.querySelector('input#blogSearch').value.replace(/[^a-z0-9\s]/gi, ''));
				});
				document.querySelector('#blogSearch').addEventListener("keyup", function(event) {
					if(event.keyCode===13){
						event.preventDefault();
						document.querySelector('#searchSubmit').click();
					}
				});
			</script>
		</form>
	</div>
</div>