<div class="col-12 col-lg-3 d-none d-md-block sg-blog-02a-sidebar">
	{%- include 'modules/siteglide_system/get/get_categories', categories_layout: 'sg-blog-02/categories', categories_layout_type: 'sidebar' -%}
	{%- include 'modules/siteglide_authors/get/get_authors', author_layout: 'sg-blog-02/author', author_layout_type: 'sidebar', author_field: 'module_field_3_4' -%}
	{%- include 'modules/siteglide_blog/get/get_blog_archive', archive_layout: "sg-blog-02/archive", archive_layout_type: "sidebar_years_and_date_search" -%}
	{%- include 'layouts/modules/module_3/sg-blog-02/sidebar/search' -%}
</div>