<h2>Archive</h2>
<ul>
	{% for month in blog_archive_months %}
		<li><a href="{{context.location.pathname}}?range_gt={{month.start}}&range_lte={{month.end}}&range_type=month">{{month.start | date: "%b-%y" }}</a></li>
	{% endfor %}
</ul>